/* -------------------------------------------------
---- THIS CODE IS WRITTEN FOR A WIDTH OF 1920px ----
---------------------------------------------------- */

html {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: MarthaBusinessFontHeader;
    src: url(../fonts/Oleo_Script/OleoScript-Bold.ttf)
}

@font-face {
    font-family: MarthaBusinessFont;
    src: url(../fonts/Indie_Flower/IndieFlower-Regular.ttf);
}

body {
    background-image: url("../images/background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    font-family: MarthaBusinessFont, sans-serif;
}

/* ------------- Home.html ---------------- */
/* Header Content */
#nav-bar {
    position: relative;
    text-align: center;
    background-color: rgba(255, 204, 247, 0.747);
    padding-top: 15px;
}

#header-img {
    width: 150px;
    height: 150px;
}

#company-header {
    position: absolute;
    font-family: MarthaBusinessFontHeader, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 35px;
    bottom: 40%;
    left: 49%;
    margin: 0;
}

#company-phrase {
    position: absolute;
    text-decoration: none;
    color: black;
    bottom: 10%;
    left: 50%;
    font-size: 20px;
    font-style: italic;
}

#about-link,
#contact-link {
    position: absolute;
    font-family: MarthaBusinessFontHeader, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#about-link {
    top: 45%;
    left: 38%;
}

#contact-link {
    top: 45%;
    right: 32%;
}

.fa-shopping-bag {
    font-size: 50px;
    position: absolute;
    top: 35%;
    right: 5%;
    color: black;
}

.fa-shopping-bag .shopping-cart-number {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    top: -28px;
    color: white;
    font-size: 20px;
}
/* Header Content */

/* Body Content */
.body {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
}

#video {
    flex-basis: 55%;
    flex-grow: 1;
    height: 400px;
    margin: 20px 500px;
}

.home-product {
    display: flex;
    position: relative;
    height: 350px;
    background-color: rgba(240, 255, 240, 0.65);
    border-radius: 5px;
    flex-direction: row;
    flex-basis: 45%;
    flex-shrink: 0;
    flex-grow: 1;
    justify-content: flex-start;
    margin: 25px 25px 70px 25px;
}

.product-link #product-img{
    width: 300px;
    height: 300px;
    border: 3px solid gray;
    border-radius: 3px;
    float: left;
    margin-left: 25px;
    margin-top: 25px;
    transition-property: box-shadow;
    transition-duration: 250ms;
}

.product-link #product-img:hover {
    box-shadow: 4px 4px 3px gray;
}

.home-product #home-product-info {
    padding: 8px;
    text-align: justify;
}

.home-product #home-product-info h2 {
    margin-bottom: 0;
    border-bottom: 2px solid gray;
    font-size: 30px;
}

.home-product #home-product-info p {
    margin-top: 5px;
    font-size: 16px;
}

.home-product .price-tag {
    position: absolute;
    bottom: 10%;
    left: 38%;
    font-family: MarthaBusinessFontHeader, sans-serif;
    font-size: 30px;
}

.home-product .add-to-cart-button {
    position: absolute;
    width: 200px;
    height: 60px;
    left: 55%;
    bottom: 7%;
    font-family: MarthaBusinessFontHeader, sans-serif;
    text-decoration: none;
    font-size: 22px;
    background-color: rgb(247, 195, 227);
    border: 2px solid rgb(226, 162, 173);
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    transition-property: background-color;
    transition-duration: 250ms;
}

.home-product .add-to-cart-button:hover {
    background-color: rgb(226, 162, 173);
}

.home-product .add-to-cart-button:active {
    background-color: rgb(175, 124, 133);
}
/* Body Content */

/* Footer Content */
footer {
    background-color: rgba(103, 107, 96, 0.733);
    text-align: center;
    padding: 15px;
    font-size: 20px;
    color: rgb(235, 241, 241);
}

footer > a > i {
    text-decoration: none;
    color: rgb(235, 241, 241);
    font-size: 25px;
    margin-top: 10px;
    padding: 0 5px;
    transition-property: color;
    transition-duration: 250ms;
}

footer > a > i:hover {
    color: rgb(226, 162, 173);
}
/* Footer Content */
/* ------------- Home.html ---------------- */

/* ------------- about.html ---------------- */
.about-section {
    flex-basis: 100%;
    background-color: rgba(240, 255, 240, 0.65);
    text-align: center;
    margin: 25px 0;
    height: 550px;
}

#about-header {
    font-size: 30px;
}

#about-story {
    text-align: center;
    font-size: 20px;
    margin-bottom: 25px;
}

#about-story h4 {
    margin: 0 200px;
    padding: 10px
}
/* ------------- about.html ---------------- */

/* ------------- contact.html ---------------- */
.contact-section {
    flex-basis: 100%;
    background-color: rgba(240, 255, 240, 0.65);
    text-align: center;
    margin: 25px 0;
    height: 550px;
}

.contact-section #contact-header {
    font-size: 30px;
}

#contact-form label {
    margin-left: 15px;
    margin-right: 5px;
    font-size: 18px;
}

#contact-form [type="text"]{
    height: 30px;
    padding: 5px;
    margin-right: 50px;
    margin-bottom: 20px;
    border-radius: 6px;
}

#contact-form textarea {
    margin-top: 10px;
    width: 675px;
    height: 255px;
    resize: none;
    overflow: auto;
    font-size: 16px;
    border-radius: 6px;
}

#contact-form button {
    margin-top: 10px;
    background-color: rgb(247, 195, 227);
    border: 2px solid rgb(226, 162, 173);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    transition-property: background-color;
    transition-duration: 250ms;
}

#contact-form button:hover {
    background-color: rgb(226, 162, 173);
}

#contact-form button:active {
    background-color: rgb(175, 124, 133);
}
/* ------------- contact.html ---------------- */